In [1]:
import pandas as pd
import json

with open('BGStatsExport-241227060814.json', 'r') as file:
    bg_stats = file.read()

data = json.loads(bg_stats)
data.keys()

dict_keys(['tags', 'groups', 'players', 'locations', 'games', 'plays', 'challenges', 'deletedObjects', 'userInfo'])

In [3]:
tags_df = pd.DataFrame(data['tags'])
tags_df.head(2)

,uuid,id,name,type,group,isInternal,isDefault,isHidden,modificationDate
0,267b9ec7-e274-464e-9e71-0c7dc13d8617,1,My games,Personal,Default,True,False,False,2023-06-24 09:07:36

In [4]:
groups_df = pd.DataFrame(data['groups'])
groups_df.head(2)

,uuid,id,name,type,isInternal,isDefault,modificationDate,metaData
0,3644d075-de32-4223-b7d2-b95e696ce7e4,1,All Games,Basis,True,True,2023-06-24 09:02:03,NaN
1,46f817cc-abd9-4f92-98e4-853e59758369,13,Custom Filter…,Basis,True,True,2023-06-24 09:02:03,"{""filter"":{""gameType"":0,""collectionRules"":[],""..."

In [41]:
groups_df['name']

0                All Games
1           Custom Filter…
2     Expansion Base plays
3                For Trade
4        My Original Games
5              Owned Games
6             Played Games
7        Played, not Owned
8               Preordered
9         Previously Owned
10    Unplayed Owned Games
11           Want in Trade
12             Want to Buy
13            Want to Play
14                Wishlist
Name: name, dtype: object

In [37]:
players_df = pd.DataFrame(data['players'])
players_df.head(2)

,uuid,id,name,isAnonymous,modificationDate,bggUsername,metaData
0,2d728f32-6199-4b93-9d6e-3c42dffc17f8,28,Aashray,False,2023-11-20 11:31:15,,"{""bgaUsername"":"""",""yucataUsername"":"""",""isNpc"":0}"
1,6defde07-3887-4ae6-b6a0-ce23d148a9b9,2,Aashya,False,2024-05-31 08:11:24,,

In [39]:
players_df['name']

0                 Aashray
1                  Aashya
2                Abhishek
3                 Ackshaj
4                  Ananya
5        Anonymous player
6        Anonymous player
7             Arjun Avani
8          Arundhati TBGD
9                 Arunima
10                  Avani
11                   Bebu
12                 Charan
13          Devansh Avani
14            Dipti Aunty
15                Divyani
16                  Druid
17                 Farzan
18            Farzan ViPo
19                Hariram
20                 Harsha
21                 Henson
22                  Jigar
23                 Kalika
24                  Kavya
25           Kishan Avani
26                  Mansi
27         Nagashree TBGD
28                 Nathan
29                   Neal
30                 Nikhil
31                 Parita
32               Poushali
33               Priyanka
34                Rishita
35            Ritvik TBGD
36       Rohan Boardgames
37                  Sabby
38                  Sahil
39               Sharanya
40    Shikhar Boardgames
41                  Shiva
42                  Shonu
43               Shreesha
44              Shuvankar
45            Soumya ViPo
46                 Sriram
47                 Sumana
48                  Thiru
49             Thiru ViPo
50    Trishala Boardgames
51                Vallari
52               Vallari
53      Vamsee Boardgames
54       VivekVaidya TBGD
55                   Yash
56                  Zahid
Name: name, dtype: object

In [5]:
locations_df = pd.DataFrame(data['locations'])
locations_df.head(2)

,uuid,id,name,modificationDate,metaData
0,5e22ecc9-c906-432e-9f07-64fa8bcda713,12,Aashya's House,2023-06-24 09:07:43,NaN
1,1b32a5b4-395e-404b-bac2-ee1bee00d1dc,20,Ananya's House,2023-07-02 01:49:10,NaN

In [40]:
locations_df['name']

0                     Aashya's House
1                    Ananya's House
2                    Arunima's House
3             Azim Premji University
4                   Board Game Arena
5          Coffee By Di Bella, Malad
6                 Dibella, Evershine
7                    Dicey Discovery
8         Hampi Board Games Retreat
9                         Hampi ViPo
10                   Home, Bangalore
11              Kavya's House, Powai
12      Matteo Coffea, Church Street
13                 Mia Cucina, Powai
14                          Nestaway
15                          Oyo Room
16              Pair A Dice Vikhroli
17                 ReRoll, Bangalore
18              Sahil's House, Malad
19                    Samvene, Malad
20    Samvene, The Bagel Cafe, Malad
21                         Starbucks
22          Starbucks, Mahavir Nagar
23               TBGD, Church Street
24                    TToX Bangalore
25                   Vallari's House
26                   ViPo Boardgames
27                      Yash's House
Name: name, dtype: object

In [6]:
games_df = pd.DataFrame(data['games'])
games_df.head(2)

,uuid,id,name,modificationDate,cooperative,highestWins,noPoints,usesTeams,urlThumb,urlImage,...,isExpansion,rating,minPlayerCount,maxPlayerCount,minPlayTime,maxPlayTime,minAge,preferredImage,previouslyPlayedAmount,copies
0,05017627-f12a-4e2f-90ec-37b7c541160a,2,7 Wonders Duel,2024-09-12 17:12:32,False,True,False,False,https://cf.geekdo-images.com/zdagMskTF7wJBPjX7...,https://cf.geekdo-images.com/zdagMskTF7wJBPjX7...,...,0,0,2,2,30,30,10,0,0,[{'uuid': '1c35dac6-8b37-49c8-a8be-90a31be3647...
1,f231e8ad-e8e5-483a-add7-81ebd6048094,14,7 Wonders: Architects,2024-12-24 22:35:54,False,True,False,False,https://cf.geekdo-images.com/BGtYtHbLgYhYyNMoy...,https://cf.geekdo-images.com/BGtYtHbLgYhYyNMoy...,...,0,0,2,7,25,25,8,0,0,[{'uuid': 'b0b64db9-25dd-400e-9baf-77afc3c1388...

In [24]:
games_df['name'].values

array(['7 Wonders Duel', '7 Wonders: Architects', 'Ankh: Gods of Egypt',
       'Aquatica', 'Azul', 'Azul: Master Chocolatier', 'Blood Rage',
       'Canvas', 'Carcassonne', 'Cat in the Box: Deluxe Edition',
       'Chai Garam', 'Civilization: A New Dawn', 'Codenames',
       'Codenames: Duet', 'Dominion (Second Edition)',
       'Dominion: Dark Ages', 'Dominion: Menagerie', 'Dune',
       'Dune: Imperium', 'Dune: War for Arrakis', 'Eldritch Horror',
       'Eldritch Horror: Strange Remnants', 'Foundations of Rome',
       'Frosthaven', 'Gloomhaven: Jaws of the Lion',
       'Heat: Pedal to the Metal', 'Hegemony: Lead Your Class to Victory',
       'Hegemony: Lead Your Class to Victory – Crisis & Control',
       'High Society', 'Horizons of Spirit Island', 'Inkognito', 'Jaipur',
       'John Company: Second Edition', 'Kingdom Rush: Rift in Time',
       'Mage Knight: Ultimate Edition', 'Marvel: Remix',
       'Mascarade (second edition)',
       'Mind MGMT: The Psychic Espionage “Game.”',
       'Monopoly: Here and Now – The World Edition', 'Mythwind',
       'Nemesis', 'One Deck Dungeon', 'One Night Ultimate Werewolf',
       'Onitama', 'Pandemic', 'Patchwork', 'Rising Sun',
       'Robinson Crusoe: Adventures on the Cursed Island', 'Root',
       'Santorini',
       'Sherlock Holmes Consulting Detective: The Thames Murders & Other Cases',
       'Slay the Spire: The Board Game', 'Sleeping Gods',
       'Sniper Elite: The Board Game', 'Spirit Island',
       'Spirit Island: Branch & Claw', 'Spirit Island: Feather & Flame',
       'Spirit Island: Jagged Earth', 'Spirit Island: Nature Incarnate',
       'Star Wars: Rebellion', 'Stardew Valley: The Board Game',
       'Subastral',
       'Tainted Grail: Age of Legends & Last Knight Campaigns',
       'Tainted Grail: The Fall of Avalon',
       'Tainted Grail: The Fall of Avalon – Echoes of the Past',
       'Terraforming Mars', 'Thunder Road: Vendetta – Maximum Chrome',
       'Too Many Bones', 'Turing Machine',
       'Twilight Imperium: Fourth Edition', 'Unfair',
       'Viticulture Essential Edition',
       'Viticulture: Tuscany Essential Edition',
       'War of the Ring: Second Edition', 'Wildlands', 'Wingspan'],
      dtype=object)

In [14]:
games_df.head(1).values

array([['05017627-f12a-4e2f-90ec-37b7c541160a', 2, '7 Wonders Duel',
        '2024-09-12 17:12:32', False, True, False, False,
        'https://cf.geekdo-images.com/zdagMskTF7wJBPjX74XsRw__thumb/img/gV1-ckZSIC-dCxxpq1Y7GmPITzQ=/fit-in/200x150/filters:strip_icc()/pic2576399.jpg',
        'https://cf.geekdo-images.com/zdagMskTF7wJBPjX74XsRw__original/img/Ju836WNSaW7Mab9Vjq2TJ_FqhWQ=/0x0/filters:format(jpeg)/pic2576399.jpg',
        '7 Wonders Duel', 2015, 173346, 'Antoine Bauza, Bruno Cathala',
        '{"CollectionHistory":{"20230624":1}}',
        list([{'tagRefId': 1, 'metaData': '{"date":"2023-06-24 09:07:36"}'}]),
        1, 0, 0, 2, 2, 30, 30, 10, 0, 0,
        list([{'uuid': '1c35dac6-8b37-49c8-a8be-90a31be36476', 'modificationDate': '2023-06-24 09:07:35', 'metaData': '{"Rating":"7","PricePaid":"","PricePaidCurrency":"","PublicComment":"","PrivateComment":"","WishlistComment":"","CurrentPrice":"","CurrentPriceCurrency":"","Barcode":"","AcquiredFrom":"","AcquisitionDate":"","InventoryDate":"","InventoryLocation":"","Quantity":"","HaveParts":"","WantParts":"","TradeCondition":""}', 'bggCollId': 96375124, 'statusOwned': True, 'statusWishlist': False, 'statusWantToPlay': False, 'statusWantInTrade': False, 'statusForTrade': False, 'statusPrevOwned': False, 'statusPreordered': False, 'statusWantToBuy': False, 'wishlistStatus': 0, 'bggUserName': 'mrappbrain', 'year': 2015, 'urlImage': 'https://cf.geekdo-images.com/zdagMskTF7wJBPjX74XsRw__original/img/Ju836WNSaW7Mab9Vjq2TJ_FqhWQ=/0x0/filters:format(jpeg)/pic2576399.jpg', 'urlThumb': 'https://cf.geekdo-images.com/zdagMskTF7wJBPjX74XsRw__thumb/img/gV1-ckZSIC-dCxxpq1Y7GmPITzQ=/fit-in/200x150/filters:strip_icc()/pic2576399.jpg'}])]],
      dtype=object)

In [7]:
plays_df = pd.DataFrame(data['plays'])
plays_df.head(2)

,uuid,modificationDate,entryDate,playDate,usesTeams,durationMin,ignored,manualWinner,rounds,bggId,...,rating,nemestatsId,scoringSetting,metaData,playerScores,expansionPlays,locationRefId,scoresheet,board,playImages
0,9efeb946-d8cd-4596-be33-8451de1da521,2023-06-24 09:07:43,2023-06-24 09:07:43,2022-05-14 10:00:00,False,0,False,False,0,64796354,...,0,0,0,"{""MetaDataImportSourceType"":""bggPlay""}","[{'score': '14', 'winner': False, 'newPlayer':...",[],NaN,NaN,NaN,NaN
1,567a9c84-4107-482d-9278-b1852514481e,2023-06-24 09:07:43,2023-06-24 09:07:43,2022-05-14 10:00:00,False,0,False,False,0,64796344,...,0,0,0,"{""MetaDataImportSourceType"":""bggPlay""}","[{'score': '89', 'winner': True, 'newPlayer': ...",[],13.0,NaN,NaN,NaN

In [26]:
plays_df.columns

Index(['uuid', 'modificationDate', 'entryDate', 'playDate', 'usesTeams',
       'durationMin', 'ignored', 'manualWinner', 'rounds', 'bggId',
       'bggLastSync', 'importPlayId', 'gameRefId', 'comments', 'rating',
       'nemestatsId', 'scoringSetting', 'metaData', 'playerScores',
       'expansionPlays', 'locationRefId', 'scoresheet', 'board', 'playImages'],
      dtype='object')

In [28]:
plays_df.values[0]

array(['9efeb946-d8cd-4596-be33-8451de1da521', '2023-06-24 09:07:43',
       '2023-06-24 09:07:43', '2022-05-14 10:00:00', False, 0, False,
       False, 0, 64796354, '2023-06-24 09:07:43', 0, 19, '', 0, 0, 0,
       '{"MetaDataImportSourceType":"bggPlay"}',
       list([{'score': '14', 'winner': False, 'newPlayer': False, 'startPlayer': False, 'playerRefId': 1, 'role': '', 'rank': 0, 'seatOrder': 0, 'team': '', 'startPosition': ''}, {'score': '20', 'winner': False, 'newPlayer': False, 'startPlayer': False, 'playerRefId': 7, 'role': '', 'rank': 0, 'seatOrder': 0, 'team': '', 'startPosition': ''}, {'score': '19', 'winner': False, 'newPlayer': False, 'startPlayer': False, 'playerRefId': 13, 'role': '', 'rank': 0, 'seatOrder': 0, 'team': '', 'startPosition': ''}, {'score': '21', 'winner': True, 'newPlayer': False, 'startPlayer': False, 'playerRefId': 14, 'role': '', 'rank': 0, 'seatOrder': 0, 'team': '', 'startPosition': ''}]),
       list([]), nan, nan, nan, nan], dtype=object)

In [53]:
game_names = games_df.set_index('id')['name']
plays_df['gameName'] = plays_df['gameRefId'].apply(lambda x: game_names[x])

In [57]:
plays_df.groupby('gameName')['uuid'].count().sort_values(ascending=False)

gameName
Mind MGMT: The Psychic Espionage “Game.”            30
Spirit Island                                       24
Heat: Pedal to the Metal                            15
Dominion (Second Edition)                           13
Sniper Elite: The Board Game                        13
High Society                                        12
Nemesis                                             12
Blood Rage                                          11
War of the Ring: Second Edition                      9
Eldritch Horror                                      9
John Company: Second Edition                         9
Robinson Crusoe: Adventures on the Cursed Island     8
Viticulture Essential Edition                        7
Santorini                                            5
Patchwork                                            5
Star Wars: Rebellion                                 5
Dune: Imperium                                       5
One Night Ultimate Werewolf                          4
Turing Machine                                       4
7 Wonders Duel                                       4
Unfair                                               4
Twilight Imperium: Fourth Edition                    3
Hegemony: Lead Your Class to Victory                 3
Dune                                                 3
Terraforming Mars                                    2
7 Wonders: Architects                                2
Subastral                                            2
Dune: War for Arrakis                                2
Azul                                                 2
Codenames: Duet                                      2
Onitama                                              2
Rising Sun                                           2
Civilization: A New Dawn                             2
Chai Garam                                           2
Sleeping Gods                                        2
Wildlands                                            1
Viticulture: Tuscany Essential Edition               1
Marvel: Remix                                        1
One Deck Dungeon                                     1
Mascarade (second edition)                           1
Jaipur                                               1
Inkognito                                            1
Frosthaven                                           1
Codenames                                            1
Cat in the Box: Deluxe Edition                       1
Carcassonne                                          1
Azul: Master Chocolatier                             1
Aquatica                                             1
Wingspan                                             1
Name: uuid, dtype: int64

In [70]:
play_players = plays_df['playerScores'].apply(lambda l: [(i['playerRefId'], i['winner']) for i in l])
play_players

0      [(1, False), (7, False), (13, False), (14, True)]
1        [(1, True), (7, False), (7, False), (7, False)]
2                  [(1, False), (12, True), (10, False)]
3                  [(1, False), (10, True), (11, False)]
4                               [(1, True), (16, False)]
                             ...
248    [(1, False), (4, False), (4, False), (53, Fals...
249     [(1, True), (4, False), (4, False), (54, False)]
250                             [(1, True), (27, False)]
251                [(1, False), (27, True), (57, False)]
252    [(1, False), (4, True), (55, False), (27, Fals...
Name: playerScores, Length: 253, dtype: object

In [137]:
from collections import defaultdict
opponent_stats = defaultdict(lambda: {'total': 0, 'i_won': 0, 'opponent_won': 0, 'both_lost': 0})

for play in play_players:
    i_won = False
    for player_id, won in play:
        if player_id == 1: #me
            i_won = won
        else:
            opponent_stats[player_id]['total'] += 1
            if i_won:
                opponent_stats[player_id]['i_won'] += 1
            elif won:
                opponent_stats[player_id]['opponent_won'] += 1
            else: 
                opponent_stats[player_id]['both_lost'] += 1

opponent_stats

defaultdict(<function __main__.<lambda>()>,
            {7: {'total': 32, 'i_won': 11, 'opponent_won': 3, 'both_lost': 18},
             13: {'total': 14, 'i_won': 2, 'opponent_won': 6, 'both_lost': 6},
             14: {'total': 16, 'i_won': 4, 'opponent_won': 1, 'both_lost': 11},
             12: {'total': 7, 'i_won': 2, 'opponent_won': 2, 'both_lost': 3},
             10: {'total': 5, 'i_won': 1, 'opponent_won': 2, 'both_lost': 2},
             11: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1},
             16: {'total': 1, 'i_won': 1, 'opponent_won': 0, 'both_lost': 0},
             17: {'total': 2, 'i_won': 2, 'opponent_won': 0, 'both_lost': 0},
             8: {'total': 4, 'i_won': 1, 'opponent_won': 0, 'both_lost': 3},
             2: {'total': 48, 'i_won': 0, 'opponent_won': 22, 'both_lost': 26},
             22: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1},
             5: {'total': 2, 'i_won': 0, 'opponent_won': 0, 'both_lost': 2},
             9: {'total': 3, 'i_won': 2, 'opponent_won': 0, 'both_lost': 1},
             20: {'total': 1, 'i_won': 0, 'opponent_won': 1, 'both_lost': 0},
             21: {'total': 2, 'i_won': 1, 'opponent_won': 0, 'both_lost': 1},
             18: {'total': 1, 'i_won': 1, 'opponent_won': 0, 'both_lost': 0},
             3: {'total': 1, 'i_won': 1, 'opponent_won': 0, 'both_lost': 0},
             19: {'total': 1, 'i_won': 1, 'opponent_won': 0, 'both_lost': 0},
             15: {'total': 1, 'i_won': 1, 'opponent_won': 0, 'both_lost': 0},
             6: {'total': 1, 'i_won': 0, 'opponent_won': 1, 'both_lost': 0},
             4: {'total': 283,
              'i_won': 91,
              'opponent_won': 39,
              'both_lost': 153},
             30: {'total': 52,
              'i_won': 19,
              'opponent_won': 10,
              'both_lost': 23},
             32: {'total': 48,
              'i_won': 20,
              'opponent_won': 8,
              'both_lost': 20},
             23: {'total': 8, 'i_won': 4, 'opponent_won': 2, 'both_lost': 2},
             24: {'total': 8, 'i_won': 4, 'opponent_won': 2, 'both_lost': 2},
             26: {'total': 1, 'i_won': 1, 'opponent_won': 0, 'both_lost': 0},
             25: {'total': 1, 'i_won': 1, 'opponent_won': 0, 'both_lost': 0},
             27: {'total': 6, 'i_won': 2, 'opponent_won': 2, 'both_lost': 2},
             28: {'total': 6, 'i_won': 0, 'opponent_won': 1, 'both_lost': 5},
             29: {'total': 12, 'i_won': 5, 'opponent_won': 2, 'both_lost': 5},
             31: {'total': 1, 'i_won': 1, 'opponent_won': 0, 'both_lost': 0},
             34: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1},
             35: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1},
             33: {'total': 6, 'i_won': 2, 'opponent_won': 1, 'both_lost': 3},
             36: {'total': 6, 'i_won': 2, 'opponent_won': 2, 'both_lost': 2},
             37: {'total': 23, 'i_won': 7, 'opponent_won': 5, 'both_lost': 11},
             39: {'total': 2, 'i_won': 1, 'opponent_won': 0, 'both_lost': 1},
             38: {'total': 9, 'i_won': 0, 'opponent_won': 3, 'both_lost': 6},
             40: {'total': 1, 'i_won': 1, 'opponent_won': 0, 'both_lost': 0},
             41: {'total': 4, 'i_won': 2, 'opponent_won': 0, 'both_lost': 2},
             43: {'total': 10, 'i_won': 3, 'opponent_won': 0, 'both_lost': 7},
             42: {'total': 31,
              'i_won': 11,
              'opponent_won': 4,
              'both_lost': 16},
             45: {'total': 3, 'i_won': 3, 'opponent_won': 0, 'both_lost': 0},
             44: {'total': 2, 'i_won': 1, 'opponent_won': 0, 'both_lost': 1},
             46: {'total': 15, 'i_won': 2, 'opponent_won': 4, 'both_lost': 9},
             47: {'total': 5, 'i_won': 1, 'opponent_won': 0, 'both_lost': 4},
             48: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1},
             49: {'total': 3, 'i_won': 1, 'opponent_won': 1, 'both_lost': 1},
             50: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1},
             51: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1},
             53: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1},
             52: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1},
             54: {'total': 2, 'i_won': 1, 'opponent_won': 1, 'both_lost': 0},
             57: {'total': 2, 'i_won': 0, 'opponent_won': 0, 'both_lost': 2},
             55: {'total': 1, 'i_won': 0, 'opponent_won': 0, 'both_lost': 1}})

In [147]:
# for i in opponent_stats:
#     print(i, player_names[i])
#     stats = opponent_stats[i]
#     win_rate = stats['i_won'] * 100.0 / stats['total']
#     print('win_rate', round(win_rate, 2))

In [152]:
opponent_stats_df = pd.DataFrame(opponent_stats).T.reset_index().rename(columns={'index': 'playerRefId'})
opponent_stats_df['player_name'] = opponent_stats_df['playerRefId'].apply(lambda x: player_names[x])
opponent_stats_df['win_rate'] = round(opponent_stats_df['i_won'] * 100.0 / (opponent_stats_df['i_won'] + opponent_stats_df['opponent_won']), 2)
opponent_stats_df.sort_values(by='win_rate')

,playerRefId,total,i_won,opponent_won,both_lost,player_name,win_rate
9,2,48,0,22,26,Aashya,0.00
28,28,6,0,1,5,Aashray,0.00
13,20,1,0,1,0,Nikhil,0.00
37,38,9,0,3,6,Ritvik TBGD,0.00
19,6,1,0,1,0,Priyanka,0.00
1,13,14,2,6,6,Hariram,25.00
44,46,15,2,4,9,Shikhar Boardgames,33.33
4,10,5,1,2,2,Bebu,33.33
3,12,7,2,2,3,Ananya,50.00
34,36,6,2,2,2,Rishita,50.00
27,27,6,2,2,2,Thiru ViPo,50.00
47,49,3,1,1,1,Rohan Boardgames,50.00
52,54,2,1,1,0,Kalika,50.00
35,37,23,7,5,11,Shuvankar,58.33
21,30,52,19,10,23,Avani,65.52
33,33,6,2,1,3,Kishan Avani,66.67
23,23,8,4,2,2,Henson,66.67
24,24,8,4,2,2,Dipti Aunty,66.67
20,4,283,91,39,153,Anonymous player,70.00
22,32,48,20,8,20,Shreesha,71.43
29,29,12,5,2,5,Neal,71.43
41,42,31,11,4,16,VivekVaidya TBGD,73.33
0,7,32,11,3,18,Anonymous player,78.57
2,14,16,4,1,11,Sriram,80.00
45,47,5,1,0,4,Vamsee Boardgames,100.00
43,44,2,1,0,1,Nagashree TBGD,100.00
42,45,3,3,0,0,Arundhati TBGD,100.00
40,43,10,3,0,7,Sabby,100.00
39,41,4,2,0,2,Poushali,100.00
38,40,1,1,0,0,Ackshaj,100.00
6,16,1,1,0,0,Kavya,100.00
18,15,1,1,0,0,Sharanya,100.00
8,8,4,1,0,3,Yash,100.00
12,9,3,2,0,1,Vallari,100.00
30,31,1,1,0,0,Farzan,100.00
14,21,2,1,0,1,Shiva,100.00
15,18,1,1,0,0,Arunima,100.00
26,25,1,1,0,0,Soumya ViPo,100.00
25,26,1,1,0,0,Farzan ViPo,100.00
16,3,1,1,0,0,Vallari,100.00
17,19,1,1,0,0,Parita,100.00
36,39,2,1,0,1,Druid,100.00
7,17,2,2,0,0,Sahil,100.00
5,11,1,0,0,1,Shonu,NaN
10,22,1,0,0,1,Mansi,NaN
11,5,2,0,0,2,Nathan,NaN
31,34,1,0,0,1,Arjun Avani,NaN
32,35,1,0,0,1,Devansh Avani,NaN
46,48,1,0,0,1,Trishala Boardgames,NaN
48,50,1,0,0,1,Divyani,NaN
49,51,1,0,0,1,Sumana,NaN
50,53,1,0,0,1,Charan,NaN
51,52,1,0,0,1,Harsha,NaN
53,57,2,0,0,2,Zahid,NaN
54,55,1,0,0,1,Jigar,NaN

In [174]:
player_id = 27 # Thiru
player_id = 2 # Aashya
player_play_ids = play_players_df[play_players_df['playerRefId'] == player_id]['playId']
# player_play_ids

In [177]:
(plays_df.loc[player_play_ids]).groupby('gameName')['uuid'].count()

gameName
7 Wonders Duel                                      3
7 Wonders: Architects                               1
Azul                                                1
Azul: Master Chocolatier                            1
Blood Rage                                          2
Carcassonne                                         1
Chai Garam                                          1
Dominion (Second Edition)                           3
Dune: Imperium                                      1
Eldritch Horror                                     3
Heat: Pedal to the Metal                            1
High Society                                        4
Jaipur                                              1
John Company: Second Edition                        1
Mind MGMT: The Psychic Espionage “Game.”            7
Nemesis                                             1
Onitama                                             1
Patchwork                                           3
Robinson Crusoe: Adventures on the Cursed Island    2
Sniper Elite: The Board Game                        1
Spirit Island                                       3
Star Wars: Rebellion                                1
Unfair                                              2
Viticulture Essential Edition                       2
Wingspan                                            1
Name: uuid, dtype: int64

In [169]:
plays_df.columns

Index(['uuid', 'modificationDate', 'entryDate', 'playDate', 'usesTeams',
       'durationMin', 'ignored', 'manualWinner', 'rounds', 'bggId',
       'bggLastSync', 'importPlayId', 'gameRefId', 'comments', 'rating',
       'nemestatsId', 'scoringSetting', 'metaData', 'playerScores',
       'expansionPlays', 'locationRefId', 'scoresheet', 'board', 'playImages',
       'gameName'],
      dtype='object')

In [156]:
play_players_df = play_players.explode().reset_index().rename(columns={'index': 'playId', 'playerScores': 'playerDetails'})
play_players_df['playerRefId'] = play_players_df['playerDetails'].apply(lambda x: x[0] if isinstance(x, tuple) else None)
play_players_df['playerName'] = play_players_df['playerDetails'].apply(lambda x: player_names[x[0]] if isinstance(x, tuple) else None)
play_players_df['winner'] = play_players_df['playerDetails'].apply(lambda x: x[1] if isinstance(x, tuple) else None)
play_players_df

     playId playerDetails  playerRefId        playerName winner
0         0    (1, False)          1.0          Abhishek  False
1         0    (7, False)          7.0  Anonymous player  False
2         0   (13, False)         13.0           Hariram  False
3         0    (14, True)         14.0            Sriram   True
4         1     (1, True)          1.0          Abhishek   True
..      ...           ...          ...               ...    ...
950     252    (1, False)          1.0          Abhishek  False
951     252     (4, True)          4.0  Anonymous player   True
952     252   (55, False)         55.0             Jigar  False
953     252   (27, False)         27.0        Thiru ViPo  False
954     252   (57, False)         57.0             Zahid  False

[955 rows x 5 columns]

In [109]:
play_players_df.groupby(['player_name', 'winner'])['playId'].count()

player_name        winner
Aashray            False       5
                   True        1
Aashya             False      26
                   True       22
Abhishek           False     154
                            ...
Vamsee Boardgames  False       5
VivekVaidya TBGD   False      22
                   True        9
Yash               False       4
Zahid              False       2
Name: playId, Length: 82, dtype: int64

In [44]:
game_scores = plays_df['playerScores'][0]
game_scores

[{'score': '14',
  'winner': False,
  'newPlayer': False,
  'startPlayer': False,
  'playerRefId': 1,
  'role': '',
  'rank': 0,
  'seatOrder': 0,
  'team': '',
  'startPosition': ''},
 {'score': '20',
  'winner': False,
  'newPlayer': False,
  'startPlayer': False,
  'playerRefId': 7,
  'role': '',
  'rank': 0,
  'seatOrder': 0,
  'team': '',
  'startPosition': ''},
 {'score': '19',
  'winner': False,
  'newPlayer': False,
  'startPlayer': False,
  'playerRefId': 13,
  'role': '',
  'rank': 0,
  'seatOrder': 0,
  'team': '',
  'startPosition': ''},
 {'score': '21',
  'winner': True,
  'newPlayer': False,
  'startPlayer': False,
  'playerRefId': 14,
  'role': '',
  'rank': 0,
  'seatOrder': 0,
  'team': '',
  'startPosition': ''}]

In [47]:
player_names = players_df.set_index('id')['name']

for player_score in game_scores:
    player_name = player_names[player_score['playerRefId']]
    player_score['playerName'] = player_name

In [48]:
game_scores

[{'score': '14',
  'winner': False,
  'newPlayer': False,
  'startPlayer': False,
  'playerRefId': 1,
  'role': '',
  'rank': 0,
  'seatOrder': 0,
  'team': '',
  'startPosition': '',
  'playerName': 'Abhishek'},
 {'score': '20',
  'winner': False,
  'newPlayer': False,
  'startPlayer': False,
  'playerRefId': 7,
  'role': '',
  'rank': 0,
  'seatOrder': 0,
  'team': '',
  'startPosition': '',
  'playerName': 'Anonymous player'},
 {'score': '19',
  'winner': False,
  'newPlayer': False,
  'startPlayer': False,
  'playerRefId': 13,
  'role': '',
  'rank': 0,
  'seatOrder': 0,
  'team': '',
  'startPosition': '',
  'playerName': 'Hariram'},
 {'score': '21',
  'winner': True,
  'newPlayer': False,
  'startPlayer': False,
  'playerRefId': 14,
  'role': '',
  'rank': 0,
  'seatOrder': 0,
  'team': '',
  'startPosition': '',
  'playerName': 'Sriram'}]

In [34]:
plays_df.values[234]

array(['57f48032-b734-41e1-bf03-354fbd2dfbc7', '2024-12-24 22:05:23',
       '2024-12-24 22:04:35', '2024-11-16 22:04:35', False, 0, False,
       False, 0, 92674114, '2024-12-24 22:05:24', 0, 44, nan, 0, 0, 9,
       '{"playUsedGameCopy":1,"playGameCopyUuid":"6ef44bef-f099-43e3-8e9f-4af5f43bee60"}',
       list([{'score': None, 'winner': False, 'newPlayer': False, 'startPlayer': False, 'playerRefId': 1, 'role': '', 'rank': 0, 'seatOrder': 0}, {'score': None, 'winner': False, 'newPlayer': True, 'startPlayer': False, 'playerRefId': 38, 'rank': 0, 'seatOrder': 0}, {'score': None, 'winner': False, 'newPlayer': False, 'startPlayer': False, 'playerRefId': 46, 'rank': 0, 'seatOrder': 0}, {'score': None, 'winner': False, 'newPlayer': False, 'startPlayer': False, 'playerRefId': 42, 'rank': 0, 'seatOrder': 0}]),
       list([]), 13.0, nan, '', nan], dtype=object)

In [35]:
plays_df.columns

Index(['uuid', 'modificationDate', 'entryDate', 'playDate', 'usesTeams',
       'durationMin', 'ignored', 'manualWinner', 'rounds', 'bggId',
       'bggLastSync', 'importPlayId', 'gameRefId', 'comments', 'rating',
       'nemestatsId', 'scoringSetting', 'metaData', 'playerScores',
       'expansionPlays', 'locationRefId', 'scoresheet', 'board', 'playImages'],
      dtype='object')